@page
@model WebApplication1.Pages.ListaModel
@{
}

<table class="table caption-top">
    <caption>List of users</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">Número do BI</th>
            <th scope="col">Data de Nascimento</th>
        </tr>
    </thead>



    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Pereira João Sapato</td>
            <td>8877488488444844F</td>
            <td>19/02/1998</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob Junior Cossa</td>
            <td>8855555585546E</td>
            <td>19/02/1989</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry da Graça</td>
            <td>1232431488555K</td>
            <td>07/09/1992</td>
        </tr>
    </tbody>
</table>