@page
@model WebApplication1.Pages.PesquisarModel
@{
}

<div class="text-center">
    <h1 class="display-4">Pesquisar BI</h1>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Nome Completo*</label>
            <input type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Data de Nascimento*</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="03/08/2000">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Número de BI*</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="123456789987654Q">
        </div>
        
        <br />
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
    </form>
</div>
